#navbar{
	background-color:#722196;
	font-family: 'Quicksand', sans-serif;

}



#titulo{
	text-align: center;
	margin-top: 70px;
	font-size: 2.1em;
    font-family: 'Quicksand', sans-serif;
}
#seccion1{
	width: 500px;
	height: 300px;
	font-size: 1.6em;
	margin-top: 540px;
	margin-left: 640px;
    color: white;
    font-family: 'Quicksand', sans-serif;
	
    position: absolute; left: 50px; top: 120px; z-index: 2;
    
    
}

 #img1{
	 margin-left: 300px;
	 margin-top: 50px;
 }

 .carousel-item{
     margin-top: 100px;
     transition: 9s ease, opacity .7s ease-out;
     background-color: black;
 }

 #img2{
     margin-left: 150px;
 }

 #fondo{
     background-color: #722196;
     margin-top: 10px;
     width: 100%;
     height: 250px;
 }

 #seccion4{
	width: 500px;
	height: 300px;
	font-size: 1.6em;
	margin-top: 540px;
	margin-left: 90px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    position: absolute; left: 50px; top: 120px; z-index: 2;
    
    
}

.card{
	margin-left: 100px;
	margin-top: 90px;
	background-color: #722196;
	color: white;
	font-family: 'Quicksand', sans-serif;
	float:left;
	@media (min-width: 576px)
}


.card:hover{
	-webkit-transform:scale(1.2);
	background-color: #722196;
}

.card{
	-webkit-transition: -webkit-transform 0.4s ease-in-out 0.5s;
	border-radius: 10px;
}

#footer{
	background-color: #722196;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	text-align: center;
}


 

 